
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding style="background-color: #dedede">
  
      <div id="test">
    
        <ion-list no-lines >
        
            <ion-row>
                
            <ion-item style="border-bottom:1px solid red;background-color:transparent;color:black; " >
                <!-- <ion-input placeholder="Brain Oconner"  [(ngModel)]="name" disabled="true"></ion-input> -->
                <a>{{name}}</a>
               
                   <ion-icon item-right  style="margin-right: 0px;" on-click="showPrompt(name)" ><ion-img src="../../assets/imgs/edit.png" ></ion-img></ion-icon>
               </ion-item> 
              </ion-row>
            
              <ion-item style="border-bottom:1px solid red;background-color:transparent;color:black; ">
                <!-- <ion-input placeholder="brain@gmail.com"  [(ngModel)]="email" disabled="true"></ion-input> -->
                <a>{{email}}</a>
                
                   <ion-icon item-right  style="margin-right: 0px;" on-click="showPrompt(email)"><ion-img src="../../assets/imgs/edit1.png"></ion-img></ion-icon>

              </ion-item>
                   <ion-item  style="border-bottom:1px solid red;background-color:transparent;color:black; " >
                      <!-- <ion-input   placeholder="077-666-555"  [(ngModel)]="phone" disabled="true"></ion-input> -->
                      <a>{{phone}}</a>
                     
                         <ion-icon item-right  style="margin-right: 0px;" on-click="showPrompt(phone)"><ion-img src="../../assets/imgs/edit1.png"></ion-img></ion-icon>

                   
                   </ion-item>
              
                   <div >
                   <ion-item  id="address" style="background-color:transparent;color:black;">
                      <!-- <ion-input  placeholder="some address" [(ngModel)]="address" disabled="true"></ion-input> -->
                      <a>{{address}}</a>
                     
                     <ion-icon item-right  style="margin-right: 0px;" on-click=" showPrompt(address)"><ion-img src="../../assets/imgs/edit1.png"></ion-img></ion-icon>

                   </ion-item>
                  </div>
                  
                   
                   
                    
           
          </ion-list>
          </div>
          
        
</ion-content>

<!-- pullup footer starts from here --><ion-footer >
<ion-pullup   (onExpand)="footerExpanded()" 
(onCollapse)="footerCollapsed()" [(state)]="footerState" style="background-color:#488aff;" [maxHeight]="getMaximumHeight()">
  <ion-pullup-tab   (tap)="toggleFooter()" >
    <ion-icon  name="arrow-up" *ngIf="footerState == 0">
    </ion-icon><ion-icon name="arrow-down" *ngIf="footerState == 1"></ion-icon>
  </ion-pullup-tab >
  <ion-toolbar color="primary" (tap)="toggleFooter()">
    <ion-title>Change Password</ion-title>
   
  </ion-toolbar>
  <ion-content padding   style="background-color:#488aff;">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm"  >
    
      <ion-list style="margin:auto" no-lines >
        <ion-row no-padding no-margin>
          <ion-item id="rounded" >
              <ion-input class="form-control"  name="password" type="password" required ngModel placeholder="Current password"></ion-input>
              <!-- <ion-label floating>Current password</ion-label> -->
            </ion-item>
          </ion-row> 
            <ion-item id="rounded">
              <ion-input class="form-control"  name="password" type="password" required ngModel placeholder="New password"></ion-input>
              <!-- <ion-label floating>New password</ion-label> -->
            </ion-item>
                 <ion-item id="rounded">
                    <ion-input class="form-control"  name="password" type="password" required ngModel placeholder="Confirm password"></ion-input>
                    <!-- <ion-label floating >Confirm password</ion-label> -->
                 </ion-item>
                 
                 
                  
         
        </ion-list>
    <div id="button1">
      <button ion-button color="light" small  type="submit" margin >Change password</button> 

    </div>
   
            
        </form> 
     
  </ion-content>

</ion-pullup>

</ion-footer>