page-home {

ion-pullup .footer ion-pullup-tab {
    // max-height:200px !important;
    z-index: 1000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    width: 50px;
     height: 25px;
    
    // background: #9ab8ec;
    color: white;
    border-radius: 20px 20px 0 0;
    margin: 0 auto;
    -webkit-box-shadow: 0px -2px 2px #666;
    box-shadow: 0px -2px 2px #666;
}


.scroll-content {
    overflow-y: hidden;
  
}

// @import url('https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css');
// @import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

#rounded {
    margin-top:0px;
    max-height: 100px !important;
    width: 100%;
    // height: 20%;
    margin-bottom: 9px; 
   background-color: white; 
}
#button1{
    position: relative;
    bottom:15px;
   left:20%;
  
    }

.grey{
    background-color: grey;
}
.item ion-thumbnail {
   
    min-width: 4rem;    
    min-height: 4rem;
    img {
        max-width: 4rem;    
        min-width: 4rem;
    }
   #item1{
    border-bottom: 1px solid red;
    background-color:transparent;
    color:black;
   }
}
// #three{
//     background-color: rgb(66, 6, 6);
//     // width:100%;

// }
// #test{
//     height:30%;
//     width:100%;
//     background-color:blue;
// }
ion-footer {
    // height: 255px !important;
}
}