page-mywallet {
    #redcolor{
        // border:2px solid red;
       height:35%;
       width:100%;
        background-color:rgb(201, 50, 50);
    }
    
        // #circle {
        //     background: #f00;
        //     width: 150px;
        //     height: 150px;
        //     border-radius: 50%;
        //     text-align: center;
        // }
        
          .circle {
            width: 179px;
            height: 178px;
            border-radius: 50%;
            font-size: 20px;
            color: #fff;
            line-height: 500px;
             text-align: center;
            background: #ac3232;
            position: fixed;
            left: 22%;
            top:11%;
        }
        .pt-3 {
            padding-top: 7px;
        }
        #item{
            background-color:transparent;
            
        }
        // #text{
        //        text-align:center;
        //        font-size:50px;
        // }
       
}

    
    // ion-input {
    //     background-color: #F3F3F3;
    //     border: 1px solid #cecece;
    //     // padding-left: 10px;
    //   width: 100px;
    // }
   