<!--
  Generated template for the MywalletPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <!-- <ion-img src="../../assets/imgs/refresh.png" width="10" height="10"></ion-img> -->

    <ion-title>My Wallet</ion-title>
    <ion-buttons end>
        <button ion-button icon-only color="royal">
          <ion-icon name="refresh"></ion-icon>
        </button>
      </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content >
  <div id="redcolor" span>

<div class="circle">
  <!-- <p>$440</p> -->
</div>
  </div>
  
<form   #form="ngForm" padding    style=" background-color: #80808040;">

  
  <button ion-button full  block color="light" on-click=" showPrompt()" style="background-color:white;">
    Enter Amount
    </button>

<ion-item id="item" no-padding >
  <ion-input placeholder="Card number" type="text"></ion-input>
</ion-item>
<ion-item  id="item" no-padding >
  <ion-input placeholder="Name in the card" type="text"></ion-input>
</ion-item>

  <ion-row >
    <ion-col col-5 placeholder="expiry month">
      <ion-item   no-lines no-padding>
        <ion-label>expiry month</ion-label>
        <ion-select >
          <ion-option>Jan</ion-option>
          <ion-option>Feb</ion-option>
          <ion-option>Mar</ion-option>
          <ion-option>Apr</ion-option>
          <ion-option>May</ion-option>
          <ion-option>Jun</ion-option>
          <ion-option>Jul</ion-option>
          <ion-option>Aug</ion-option>
          <ion-option>Sep</ion-option>
          <ion-option>Oct</ion-option>
          <ion-option>Nov</ion-option>
          <ion-option>Dec</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col col-1></ion-col>
    <ion-col col-5  >
      <ion-item   no-padding>
        <ion-label>expiry year</ion-label>
        <ion-select>
          <ion-option>2018</ion-option>
          <ion-option>2019</ion-option>
          <ion-option>2020</ion-option>
          <ion-option>2021</ion-option>
          <ion-option>2022</ion-option>
          <ion-option>2023</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <!-- <ion-col col-4></ion-col> -->
  </ion-row>
  <ion-row style="padding-left:5px;">

  <ion-item style="width:36%;"  >
      

    <ion-input type="text" value=""  placeholder="CCV" maxlength="3" ></ion-input>
    <ion-icon item-right name="card"></ion-icon>
  </ion-item>
</ion-row>

  <ion-row   >
      
    <!-- <ion-col col-4> -->
    <ion-checkbox margin-left ></ion-checkbox>
    <a >save this card</a>
  <!-- </ion-col> -->
  <!-- <ion-col col-1></ion-col> -->

  </ion-row>


</form>
 
  
  
  <ion-footer no-padding>
    <ion-toolbar color="primary">
      <ion-title>Add Amount</ion-title>
    </ion-toolbar>
  </ion-footer>

</ion-content>

